:root {
  --color-primary: #12bcb3;
  --color-secondary: #003458;
}

body {
  font-family: "Poppins", sans-serif;
}
/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: var(--color-secondary);
}
.logo-container {
  /* justify-content: center;
  display: flex; */
  height: 200px;
  position: relative;
  margin-bottom: -100px;
  /* border: 3px solid #dbe4ed; Border color is optional */
}
.logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.services_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #170e09;
  text-align: center;
  font-weight: bold;
  /* position: sticky; */
  /* padding-left: 20%; */
  font-family: "Poppins", sans-serif;
  margin-top: 0%;
  margin-bottom: 60px;
}
.input_form {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 2px solid black !important;
  border-radius: 20px !important;
  height: 56px;
  padding: 10px;
  text-align: center;
  background-image: none !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#prevBtn {
  background-color: var(--color-secondary); /* Green */
  border: none;
  border-radius: 11px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}
#nextBtn {
  background-color: var(--color-primary); /* Green */
  border: none;
  border-radius: 11px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}
